<!-- exted template -->
{% extends "home.html" %}
{% block title %} New Request {% endblock %}

{% block modal %}

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">CSRInit Parameters</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}